# ==============================================================
# GREEN ENERGY SOLUTION - BACKEND ENVIRONMENT VARIABLES
# ==============================================================

PORT=5050
MONGODB_URI=mongodb+srv://setufirebasesetup_db_user:SetuSolution2026@cluster0.tkqhw5u.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=green_energy_crm

# Backblaze B2 Cloud Storage (Direct backend proxy & signed upload urls)
B2_BUCKET_ID=7fffc2f1470ba0d39dfb0518
B2_BUCKET_NAME=Green-Energy-Solution
B2_KEY_ID=005ff217b03db580000000001
B2_APPLICATION_KEY=K005gOTKgViCFANig1DqeD7fLVoNU80
